body {
    background-color: darkcyan;
}

ul {
    list-style-type: none;
    background-color: darkgrey;
    border: 1px solid dimgrey;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

li {
    float: left;
}

li a {
    color: #666;
    display: block;
    font-size: 20px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: gray;
}

.navbar-logo {
    position: absolute;
    width: auto;
    height: 100px;
    top: -10px;
}

.nav-space {
  padding-left: 80px;
}